<h1>Homes#show</h1>
<p>Find me in app/views/homes/show.html.erb</p>

<script>
window.fbAsyncInit = function() {
  FB.init({
    appId   : '1762301214051954',
    xfbml   : true,
    version : 'v2.5'
    });
  // };

  (function(d,s,id){
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementsById(id)) {return;}
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js,fjs);
  }(document, 'script', 'facebook-jssdk'));
  };
</script>
